{% extends 'base.html.twig' %}

{% block body %}
    <h1>Détails du trajet <i>{{ trajet.villeDepart }} > {{trajet.villeArrivee}}</i>:</h1>
    <div class="media" style="margin-top: 60px;">
        <div class="media-body">
            <div class="row">
                <div class="col-sm-10">
                    <h3 class="media-heading"><strong>{{ trajet.conducteur }}</strong> <i>({{ trajet.heureDepart|date('h:m:s') }})</i></h3>
                </div>
            </div>

            <p>
                <strong>{{ trajet.modeleVoiture }}</strong>
                {% for passager in trajet.passagers %}
                    {{ passager.prenom }}
                {% endfor %}
            </p>

            <p>Nombre de place dans la voiture : {{ trajet.nbPlacesVoiture }}</p>
        </div>
    </div>
{% endblock %}